<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="Product" id="ProductResultSet">
		<id column="board_no" property="boardNo"/>
		<result column="board_type" property="boardType"/>
		<result column="board_title" property="productName"/>
		<result column="board_content" property="productContent"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="notice_status" property="noticeStatus"/>
		<result column="b_status" property="boardStatus"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_count" property="boardCount"/>
		<result column="product_no" property="productNo"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_discount" property="productDiscount"/>
		<result column="product_option" property="productOption"/>
		<result column="model_name" property="modelName"/>
		<result column="brand" property="brand"/>
		<result column="delivery_payment" property="delivertPayment"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="PRO_SUBCATE_CODE" property="proSubCateCode"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="imgNo" column="IMG_NO"/>
		<result property="imgOriginalName" column="IMG_NAME"/>
		<result property="imgRename" column="IMG_SERVER_NAME"/>
		<result property="imgCreateDate" column="IMG_CREATE_DATE"/>
		<result property="imgModifyDate" column="IMG_CREATE_DATE"/>
		<result property="imgKey" column="IMG_KEY"/>
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgStatus" column="IMG_STATUS"/>
		<result property="level" column="IMG_LEVEL"/>
		<result property="boardType" column="IMG_B_TYPE"/>
	</resultMap>
	
	<resultMap type="Member" id="MemberResultSet">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="memberStatus"/>
		<result column="AUTHORITY" property="memberAuthority"/>
	</resultMap>
	
	<resultMap type="ProductList" id="ProductListResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="B_STATUS" property="boardStatus"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="PRODUCT_DISCOUNT" property="discount"/>
		<result column="PRODUCT_OPTION" property="option"/>
		<result column="MODEL_NAME" property="modelName"/>
		<result column="BRAND" property="brand"/>
		<result column="delivery_payment" property="dPayment"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="PRO_SUBCATE_CODE" property="subCateCode"/>
		<result column="PRO_SUBCATE_NAME" property="subCateName"/>
		<result column="PRO_TOPCATE_CODE" property="topCateCode"/>
		<result column="PRO_TOPCATE_NAME" property="topCateName"/>
	</resultMap>
	<insert id="insertProduct">
		insert all
			into board values(seq_bid.nextval,1,#{productName},#{productContent},sysdate,sysdate,default,default,#{boardWriter},default)
			into product values(seq_pid.nextval,#{productPrice},#{productDiscount},#{productOption},#{modelName},#{brand},null,default,#{proSubCateCode},seq_bid.currval)
		select *from dual
	</insert>
	<insert id="insertProductAttm" >
		insert all
		<foreach collection="list" item="a">
			into IMG_REPOSITORY
			values(SingleRior_aid, #{a.imgOriginalName}, #{a.imgRename}, sysdate, sysdate, default, seq_bId.currval, #{a.imgPath}, #{a.boardType}, #{a.level})
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectMemberList" resultMap="MemberResultSet">
		select *
		from member	
	</select>
	<select id="selectMember" resultMap="MemberResultSet">
		select *
		from member	
		where member_id=#{memberId}
	</select>
	<update id="editMember">
		update member
		set member_name=#{memberName}, nickname=#{nickName}, phone=#{phone}, email=#{email}, address=#{address}, modifydate=sysdate
			<if test="memberPwd!=''">
				, member_pwd=#{memberPwd}
			</if>
		where member_id=#{memberId}
	</update>
	
	
   
  	<!-- 썸네일 -->
    <select id="selectAttmList" resultMap="attachmentResultSet">
     select *
		from img_repository 
		where img_B_type= '1'
		      and img_level=0
		      and img_status='Y'
	    order by img_key desc
   </select>
   
   <select id="selectProductList" resultMap="ProductListResultSet">
   
	    select b.board_no,b.board_type,b.board_title,b.create_date,b.modify_date,b.b_status,b.board_writer,b.board_count,p.product_no,p.product_price,p.product_discount,p.product_option,p.model_name,p.brand,p.delivery_payment,p.product_status,ps.pro_subcate_code,ps.pro_subcate_name,pt.pro_topcate_code,pt.pro_topcate_name
		from board b
		    join product p on (b.board_no=p.board_no)
		    join product_sub_cate ps on(p.pro_subcate_code=ps.pro_subcate_code)
		    join product_top_cate pt on(ps.pro_topcate_code=pt.pro_topcate_code)
		where board_type=#{i}
	    order by p.product_no
   
   </select>
	<select id="selectProductDetail" resultMap="ProductListResultSet">
	
		select b.board_no,b.board_type,b.board_title,b.create_date,b.modify_date,b.b_status,b.board_writer,b.board_count,p.product_no,p.product_price,p.product_discount,p.product_option,p.model_name,p.brand,p.delivery_payment,p.product_status,ps.pro_subcate_code,ps.pro_subcate_name,pt.pro_topcate_code,pt.pro_topcate_name
		from board b
		    join product p on (b.board_no=p.board_no)
		    join product_sub_cate ps on(p.pro_subcate_code=ps.pro_subcate_code)
		    join product_top_cate pt on(ps.pro_topcate_code=pt.pro_topcate_code)
		where product_no=#{productNo}
	</select>
	<select id="selectAttmListDetail" resultMap="attachmentResultSet">
	    select *
		from img_repository 
		where img_B_type= '1'
		      and img_status='Y'
		      and img_key=#{bId}
	
	
	
	</select>
	
	
</mapper>