<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="Product" id="ProductResultSet">
		<id column="board_no" property="boardNo"/>
		<result column="board_type" property="boardType"/>
		<result column="board_title" property="productName"/>
		<result column="board_content" property="productContent"/>
		<result column="create_date" property="createDate"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="notice_status" property="noticeStatus"/>
		<result column="b_status" property="boardStatus"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_count" property="boardCount"/>
		<result column="product_no" property="productNo"/>
		<result column="product_price" property="productPrice"/>
		<result column="product_discount" property="productDiscount"/>
		<result column="product_option" property="productOption"/>
		<result column="model_name" property="modelName"/>
		<result column="brand" property="brand"/>
		<result column="delivery_payment" property="delivertPayment"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="PRO_SUBCATE_CODE" property="proSubCateCode"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="imgNo" column="IMG_NO"/>
		<result property="imgOriginalName" column="IMG_NAME"/>
		<result property="imgRename" column="IMG_SERVER_NAME"/>
		<result property="imgCreateDate" column="IMG_CREATE_DATE"/>
		<result property="imgModifyDate" column="IMG_CREATE_DATE"/>
		<result property="imgKey" column="IMG_STATUS"/>
		<result property="imgPath" column="IMG_KEY"/>
		<result property="imgStatus" column="IMG_PATH"/>
		<result property="level" column="IMG_LEVEL"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<insert id="insertProduct">
		insert all
			into board values(seq_bid.nextval,1,#{productName},#{productContent},sysdate,sysdate,default,default,#{boardWriter},default)
			into product values(seq_pid.nextval,#{productPrice},#{productDiscount},#{productOption},#{modelName},#{brand},null,default,#{proSubCateCode},seq_bid.currval)
		select *from dual
	</insert>


</mapper>