<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commuMapper">

	<resultMap type="CommuBoard" id="CommuBoardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="NOTICE_STATUS" property="noticeStatus"/>
		<result column="B_STATUS" property="status"/>
		<result column="BOARD_WRITER" property="writer"/>
		<result column="BOARD_COUNT" property="count"/>
		<result column="SYMPT_COUNT" property="symptCount"/>
		<result column="COMMU_TYPE" property="commuType"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="imgNo" column="IMG_NO"/>
		<result property="imgOriginalName" column="IMG_NAME"/>
		<result property="imgRename" column="IMG_SERVER_NAME"/>
		<result property="imgCreateDate" column="IMG_CREATE_DATE"/>
		<result property="imgModifyDate" column="IMG_CREATE_DATE"/>
		<result property="imgKey" column="IMG_KEY"/>
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgStatus" column="IMG_STATUS"/>
		<result property="level" column="IMG_LEVEL"/>
		<result property="boardType" column="IMG_B_TYPE"/>
	</resultMap>
	
	<select id="getCommuListCount" resultType="_int">
		select count(*)
		from board
		where board_type=#{i}
			  and b_status = 'Y'
	</select>
	
	<select id="selectCommuAllList" resultMap="CommuBoardResultSet">
		select *
		from board b
     		 join member on (board_writer = member_id)
     		 join community c on (b.board_no = c.board_no)
		where b_status = 'Y' and board_type = #{i}
	</select>
	
	<insert id="insertCommuBoard">
		insert all
		into board
		values(SEQ_BID.nextval, #{boardType}, #{boardTitle}, #{boardContent}, sysdate, sysdate, default, default, #{writer}, default)
		into community
		values(SEQ_BID.currval, #{symptCount}, #{commuType})
		select * from dual
	</insert>
	
	<insert id="insertAttm">
		insert all
		<foreach collection="list" item="a">
			into IMG_REPOSITORY
			values(SingleRior_aid, #{a.imgOriginalName}, #{a.imgRename}, sysdate, sysdate, default, seq_bId.currval, #{a.imgPath}, #{a.boardType}, #{a.level})
		</foreach>
		select * from dual
	</insert>
	
	<update id="addCount">
		update board
		set board_count = board_count + 1
		where board_no = #{bNo}
	</update>
	
	<select id="selectCommuBoard" resultMap="CommuBoardResultSet">
		select *
		from board b
			 join member on (board_writer = member_id)
			 join community c on (b.board_no = c.board_no)
		where b_status='Y' and b.board_no = #{bNo}
	</select>
	
	<select id="selectAttmList" resultMap="attachmentResultSet">
		select *
		from IMG_REPOSITORY
		where IMG_STATUS = 'Y' and IMG_B_TYPE = '2' and IMG_LEVEL = 0
	</select>

</mapper>