<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="marketMapper">

	<resultMap type="MarketBoard" id="marketBoardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="UPDATE_DATE" property="modifyDate"/>
		<result column="NOTICE_STATUS" property="noticeStatus"/>
		<result column="B_STATUS" property="status"/>
		<result column="BOARD_WRITER" property="writer"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="BOARD_COUNT" property="count"/>
		<result column="PRICE" property="marketPrice"/>
		<result column="MARKET_TYPE" property="marketType"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="imgNo" column="IMG_NO"/>
		<result property="imgOriginalName" column="IMG_NAME"/>
		<result property="imgRename" column="IMG_SERVER_NAME"/>
		<result property="imgCreateDate" column="IMG_CREATE_DATE"/>
		<result property="imgModifyDate" column="IMG_CREATE_DATE"/>
		<result property="imgKey" column="IMG_KEY"/>
		<result property="imgPath" column="IMG_PATH"/>
		<result property="imgStatus" column="IMG_STATUS"/>
		<result property="level" column="IMG_LEVEL"/>
		<result property="boardType" column="IMG_B_TYPE"/>
	</resultMap>
	
	<insert id="marketBoardInsert">
		insert all
			into board
		values(SEQ_BID.nextval, #{boardType}, #{boardTitle}, #{boardContent}, sysdate, sysdate, default, default,#{writer}, default)
			into MARKET
		values(SEQ_BID.currval, #{marketPrice}, #{marketType})
		select * from dual
	</insert>
	
	<insert id="insertAttm" >
		insert all
		<foreach collection="list" item="a">
			into IMG_REPOSITORY
			values(SingleRior_aid, #{a.imgOriginalName}, #{a.imgRename}, sysdate, sysdate, default, seq_bId.currval, #{a.imgPath}, #{a.boardType}, #{a.level})
		</foreach>
		select * from dual
	</insert>
	
	<update id="marketBoardCount">
		update board
		set board_count = board_count + 1
		where board_no = #{bNo}
	</update>
	
	<select id="getMkListCount" resultType="_int">
		select count(*)
		from BOARD
		where BOARD_TYPE = '3' and B_STATUS = 'Y'
	</select>
	
	<select id="marketBoardList" parameterType="hashmap" resultMap="marketBoardResultSet">
		select *
		from BOARD b
			join market m on(m.board_no = b.board_no)
			join member on(board_writer = member_id)
		where BOARD_TYPE = '3' and B_STATUS = 'Y'

		<if test="marketType > 0">
			and m.MARKET_TYPE = #{marketType}
		</if>
		order by b.BOARD_NO desc
	</select>
		
	<select id="attmListSelect" resultMap = "attachmentResultSet">
		select *
		from IMG_REPOSITORY
		where  IMG_B_TYPE = '3' and IMG_STATUS = 'Y' and IMG_LEVEL = 0
	</select>
	
	<select id="marketTopList" parameterType="hashmap" resultMap="marketBoardResultSet">
		
		select *        
		from(	select *
				from BOARD b
					join market mk on(b.BOARD_NO = mk.BOARD_NO)
					join member on (board_writer = member_id)
				where BOARD_TYPE = '3' and B_STATUS = 'Y'
				<if test="marketType > 0">
				and MARKET_TYPE = #{marketType}
				</if>
				order by BOARD_COUNT desc)
		<![CDATA[
		where rownum <= 8
		]]>
	</select>
		
	<select id="topAttmListSelect" resultMap = "attachmentResultSet">
		select *        
		from(
				select *
				from IMG_REPOSITORY
		            join board b on(BOARD_NO=IMG_KEY)
		            join market m on(b.BOARD_NO = m.BOARD_NO)
				where  IMG_B_TYPE = '3' and IMG_STATUS = 'Y' and IMG_LEVEL = 0
				
				<if test="marketType > 0">
				and MARKET_TYPE = #{marketType}
				</if>
				order by BOARD_COUNT desc)
		<![CDATA[
		where rownum <= 8
		]]>
	</select>
	
	<resultMap type="WishList" id="wishListResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<id property="memberId" column="MEMBER_ID"/>
	</resultMap>
	
	<insert id="marketLike" >
		insert into WISHLIST
		values(#{memberId},#{boardNo} )
	</insert>
	
	<select id="wishListSelect" resultMap="wishListResultSet">
		select *
		from wishList
		where MEMBER_ID = #{memberId} and BOARD_NO = #{boardNo}
	</select>
	
	<delete id="marketLikeCancle">
		delete wishList
		where board_no=#{boardNo} and member_id=#{memberId}
	</delete>
	
	<select id="marketBoardSelect" resultMap="marketBoardResultSet">
		select *
		from board b
			join market k on(k.BOARD_NO = b.BOARD_NO)
			join member on (board_writer = member_id)
		where b.BOARD_NO = #{bNo} and b.B_STATUS = 'Y'
	</select>
	
	<select id="selectAttm" resultMap="attachmentResultSet">
		select *
		from IMG_REPOSITORY
		where IMG_KEY = #{strBNo} and IMG_STATUS = 'Y'
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
		<id column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_MODIFY_DATE" property="replyModifyDate"/>
		<result column="REPLY_CREATE_DATE" property="replyCreateDate"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="RE_SECRET" property="replySecret"/>
		<result column="REPLY_STATUS" property="replyStatus"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="NICKNAME" property="nickName"/>
	</resultMap>
	
		<resultMap type="ReReply" id="rReplyResultSet">
		<id column="RE_REPLY_NO" property="rReplyNo"/>
		<result column="RE_REPLY_CONTENT" property="rReplyContent"/>
		<result column="RE_REPLY_CREATE_DATE" property="rReplyCreateDate"/>
		<result column="RE_REPLY_MODIFY_DATE" property="rReplyModifyDate"/>
		<result column="RE_REPLY_SECRET" property="rReplySecret"/>
		<result column="RE_REPLY_STATUS" property="rReplyStatus"/>
		<result column="REPLY_NO" property="replyNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="NICKNAME" property="nickName"/>
	</resultMap>
	
	
	<insert id="replyInsert">
		insert into reply
		values(seq_rid.nextval, #{replyContent}, sysdate, sysdate, #{replySecret}, default, #{memberId}, #{boardNo})
	</insert>
	
	<select id="replySelect" resultMap="replyResultSet">
		select *
		from reply r
			join member m on(r.MEMBER_ID = m.MEMBER_ID)
		where BOARD_NO=#{boardNo} and REPLY_STATUS = 'Y'
		order by reply_no desc
	</select>
	
	<insert id="reReplyInsert">
		insert into reply
		values(seq_rrid.nextval, #{rReplyContent}, sysdate, sysdate, #{rReplySecret}, default, ${replyNo},#{memberId}, #{BoardNo})
	</insert>
	
	<select id="reReplySelect" resultMap="rReplyResultSet">
		select *
		from RE_REPLY r
			join member m on(r.MEMBER_ID = m.MEMBER_ID)
		where board_no = #{boardNo} and RE_REPLY_STATUS = 'Y'
		order by reply_no desc
	</select>
	
	<update id="marketBoardUpdate">
	
	
	</update>
	
	
	
	
	<update id="marketBoardDelete">
		update board
		set B_STATUS = 'N'
		where BOARD_NO = #{bNo}
	</update>
	
	<update id="deleteAttm">
		update IMG_REPOSITORY
		set IMG_STATUS = 'N'
		where IMG_KEY = #{strBNo}
	</update>
	
</mapper>