<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="Member" id="MemberResultSet">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="memberStatus"/>
		<result column="AUTHORITY" property="memberAuthority"/>
	</resultMap>

	<select id="login" resultMap="MemberResultSet">
		select * 
		from member
			where MEMBER_ID=#{memberId} 
				and MEMBER_PWD=#{memberPwd} 
				and STATUS = 'Y'
	</select>
	
</mapper>