<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="storeMapper">

    <resultMap type="StoreBoard" id="StoreBoardResultSet">
		<id column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TYPE" property="boardType"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="B_STATUS" property="boardStatus"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_PRICE" property="price"/>
		<result column="PRODUCT_DISCOUNT" property="discount"/>
		<result column="PRODUCT_OPTION" property="option"/>
		<result column="MODEL_NAME" property="modelName"/>
		<result column="BRAND" property="brand"/>
		<result column="delivery_payment" property="dPayment"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
		<result column="PRO_SUBCATE_CODE" property="subCateCode"/>
		<result column="PRO_SUBCATE_NAME" property="subCateName"/>
		<result column="PRO_TOPCATE_CODE" property="topCateCode"/>
		<result column="PRO_TOPCATE_NAME" property="topCateName"/>
		<result column="IMG_NO" property="imgNO"/>
		<result column="IMG_NAME" property="imgName"/>
		<result column="IMG_SERVER_NAME" property="imgServerName"/>
		<result column="IMG_CREATE_DATE" property="imgCreateDate"/>
		<result column="IMG_STATUS" property="imgStatus"/>
		<result column="IMG_KEY" property="imgKey"/>
		<result column="IMG_PATH" property="imgPath"/>
		<result column="IMG_B_TYPE" property="imgBoardtype"/>
		<result column="IMG_LEVEL" property="lmgLevel"/>
	</resultMap>
	
	<resultMap type="Member" id="MemberResultSet">
		<id column="MEMBER_ID" property="memberId"/>
		<result column="MEMBER_PWD" property="memberPwd"/>
		<result column="MEMBER_NAME" property="memberName"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="memberStatus"/>
		<result column="AUTHORITY" property="memberAuthority"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attmResultSet">
  		<id column="IMG_NO" property="imgNo"/>
    	<result column="IMG_NAME" property="imgOriginalName"/>
    	<result column="IMG_SERVER_NAME" property="imgRename"/>
    	<result column="IMG_CREATE_DATE" property="imgCreateDate"/>
    	<result column="IMG_MODIFY_DATE" property="imgModifyDate"/>
    	<result column="IMG_STATUS" property="imgStatus"/>
    	<result column="IMG_KEY" property="imgKey"/>
    	<result column="IMG_PATH" property="imgPath"/>
    	<result column="IMG_B_TYPE" property="boardType"/>
    	<result column="IMG_LEVEL" property="level"/>
	 </resultMap>
   
	<select id="getStoreListCount" resultType="_int">
		select count(*)
		from board
		where board_type='1' and b_status = 'Y'
	</select>
	
	<select id="selectStoreBoardList" resultMap="StoreBoardResultSet">
		select *
		from board
		     join product using (board_no)
		     join product_sub_Cate using(pro_subcate_code)
		     join product_top_Cate using(pro_topcate_code) 
		where b_status = 'Y' and board_type='1' and pro_subcate_code=#{subCate}
		order by board_no desc
   </select>
   
    <select id="selectAttmList" resultMap="attmResultSet">
     select *
		from img_repository 
		where img_B_type= '1' and img_level=0 and img_status='Y' and img_key = #{bNo}
	    order by img_key desc
   </select>


   <select id="selectProduct" resultMap="StoreBoardResultSet">
	 SELECT *
	 FROM PRODUCT p
	     JOIN BOARD USING(BOARD_NO)
	     JOIN IMG_REPOSITORY on(IMG_KEY = (SELECT TO_CHAR(( SELECT BOARD_NO FROM PRODUCT WHERE PRODUCT_NO = #{productNo})) FROM DUAL))
	     JOIN PRODUCT_SUB_CATE using(pro_subcate_code)
         JOIN PRODUCT_TOP_CATE using(pro_topcate_code)
	 where p.product_no = #{productNo} and p.product_status = 'Y'
   </select>
   
   <resultMap type="WishList" id="wishListResultSet">
		<id property="boardNo" column="BOARD_NO"/>
		<id property="memberId" column="MEMBER_ID"/>
	</resultMap>
 
   <insert id="wishListOn">
        INSERT INTO WISHLIST
		VALUES(#{memberId}, #{boardNo})
   </insert>
   
    <select id="wishListSelect" resultMap="wishListResultSet">
  		select *
		from wishList
		where MEMBER_ID = #{memberId} and BOARD_NO = #{boardNo}
   </select>
   
   <select id="wishListCount" resultType="_int">
    select count(*)
	from wishlist
	where member_id = #{memberId} and board_no = (select board_no
													from product
													where product_no = #{productNo})
   </select>
   
   <delete id="wishListOff">
   		delete wishList
		where board_no=#{boardNo} and member_id=#{memberId}
   </delete>
   
   <insert id="insertCart">
   	    insert into cart
		values (SEQ_CNO.NEXTVAL, #{quantity}, default, #{memberId}, #{productNo}, #{option})
   </insert>
   
   <!-- 문의하기 -->

   <insert id="insertInquiry">
    	insert into product_inquiry
    	values(SEQ_PROIID.nextval, #{inquiryTitle}, #{inquiryContent}, sysdate, #{productNo}, #{memberId}, default, default, null)
   </insert> 
   
   <select id="InquiryCount" resultType="_int">
        select count(*)
		from product_inquiry
	    where member_id = #{memberId} and product_no = #{productNo}
   </select> 

   <select id="selectInquiryList" resultMap="ProductInquiryResultSet">
      select *
	  from product_inquiry
      where product_no = #{productNo}
   </select>
   
   <resultMap type="ProductInquiry" id="ProductInquiryResultSet">
		<id column="INQUIRY_NO" property="inquiryNo"/>
		<result column="INQUIRY_TITLE" property="inquiryTitle"/>
		<result column="INQUIRY_CONTENT" property="inquiryContent"/>
		<result column="INQUIRY_DATE" property="inquiryDate"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="INQUIRY_STATUS" property="inquiryStatus"/>
		<result column="ADMIN_STATUS" property="adminStatus"/>
		<result column="INQUIRY_ANSWER" property="inquiryAnswer"/>
	</resultMap>
   
   

</mapper>
